@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');

/* browser resets */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Crimson Text', sans-serif;
    font-size: 18px;
    color: #252627;
}

/* headings and logo */

header {
    height: 110px;
    padding: 0 1.5em;
    background-color: #FFD670;

}

header img {
    vertical-align: middle;
    height: 100px;
    width: auto;
}

h1,
h2 {
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 200%;
    color: #252627;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h2 {
    font-size: 150%;
    text-transform: initial;
}

#logo {
    float: left;
}

#logo,
#menu {
    line-height: 100px;
}

header img {
    padding-right: 0.1em;
}

/* nav */

#menu {
    float: right;
    font-size: 170%;
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 0.1em;
}

#menu li + li {
    margin-left: 1em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover,
.active {
    border-bottom: 1px solid #252627;
}

/* about section */

section > h1 {
    padding: 0.25em 0;
}
#hero img {
    display: block;
    /* clear: both; */
}

#about-section {
    background-color: #ff9770;
}

#award-title {
    padding-bottom: 0.5em;
}

#about-info,
form {
    width: 90%;
    margin: 0 auto;
}

#award-title {
    padding-top: 0.5em;
}

#about-awards,
#about-satisfaction {
    text-align: center;
}

.award-info,
.satisfaction-info {
    display: inline-block;
    width: 20%;
    height: 250px;
    vertical-align: middle;
}

.award-info img,
.satisfaction-info img {
    width: 50%;
    height: 100px;
}

#about-satisfaction {
    clear: both;
}

.satisfaction-info > p {
    height: 100px;
}

.satisfaction-info > p:first-child {
    font-size: 300%;
    color: purple;
}

/*  courses section */

#courses-section {
    text-align: center;
    background-color: #70d6ff;
}

#courses-section div {
    display: inline-block;
    width: 20%;
    padding-bottom: 1em;
}

#courses-section img {
    height: 200px;
}

#courses-section p {
    font-size: 150%;
}

/*  form section */

#form-section {
    background-color: #ff70a6;
    padding-bottom: 1em;
}

form {
    width: 80%;
    border: 2px solid #252627;
    text-align: center;
    border-radius: 25px;
    background-color: white;
}

#form-name label:not(:first-child) {
    padding-left: 4em;
}

input {
    border-bottom: 2px solid #252627;
    padding-top: 2em;
}

#form-message {
    padding-top: 2em;
}

textarea {
    vertical-align: top;
    border: 2px solid #252627;
}

#submit {
    background-color: #e9ff70;
    border: none;
    color: #252627;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer; 
}

/* footer */

footer {
    background-color: #FFD670;
    padding: 0.5em 0.5em;
}

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks li + li {
    margin-left: 10%;
}

#social-networks i {
    font-size: 200%;
    color: #252627;
}

/* media queries */

/* largest screens */
@media screen and (max-width: 1000px) {
    header {
        height: 125px;
    }

    header img {
        /* vertical-align: middle; */
        height: 50px;
        width: auto;
    }
    
    
    #logo {
        float: none;
        margin: 0 auto; 
        clear: both;
        height: 60px;
    }
    
    #menu {
        float: none;
        width: 100%;
        line-height: unset;
    }

    nav li {
        text-align: center;
        width: 30%;
    }
}

