@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');

/* browser resets */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Crimson Text', sans-serif;
    font-size: 22px;
    color: #252627;
}

/* headings and logo */

header {
    height: 110px;
    padding: 0 2em;
    background-color: #FFD670;
}

header img {
    vertical-align: middle;
    height: 100px;
    width: auto;
}

h1,
h2 {
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 200%;
    color: #252627;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 150%;
}

#logo {
    float: left;
    font-size: 200%;
    letter-spacing: 0.1em;
}

#logo,
#menu {
    line-height: 100px;
}

/* nav */

#menu {
    float: right;
    list-style: none;
    font-size: 200%;
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 0.1em;
}

#menu li+li {
    margin-left: 2em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover,
.active {
    border-bottom: 1px solid #252627;
}

/* about section */

#hero img {
    display: block;
}

#about-section {
    background-color: #ff9770;
    margin: 0 auto;
    padding: 0 2em;
}


#about-awards,
#about-satisfaction {
    text-align: center;
}

.award-info,
.satisfaction-info {
    display: inline-block;
    width: 20%;
    height: 250px;
    vertical-align: middle;
}

.award-info img,
.satisfaction-info img {
    width: 50%;
    height: 100px;
}

#about-satisfaction {
    clear: both;
}

.satisfaction-info > p {
    height: 100px;
}

.satisfaction-info > p:first-child {
    font-size: 300%;
    color: purple;
}

/*  courses section */

#courses-section {
    text-align: center;
}

#courses-section div {
    display: inline-block;
    width: 20%;
}

/*  form section */

form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

textarea {
    vertical-align: top;
}

/* footer */

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks li + li {
    margin-left: 10%;
}