@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');

/* browser resets */
* {
   padding: 0;
   margin: 0;
   border: 0; 
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Crimson Text', sans-serif;
    color: #252627;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Open Sans', serif;
    color: #252627;
    letter-spacing: 0.1em;
}

#logo {
    float: left;
    font-size: 300%;
    letter-spacing: 0.1em;
}

#logo,
#menu {
    /* line-height: 100px; */
    line-height: 75px;
}

/* nav */

#menu {
    float: right;
    list-style: none;
    font-size: 200%;
}

#menu li {
    float: left;
    list-style-type: none;
    letter-spacing: 0.1em;
}

#menu li + li {
    margin-left: 2em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover,
.active {
    border-bottom: 1px solid #252627;
}

/* about section */

#course-section {
    text-align: center;  
}

#course-section div {
    display: inline-block;
    background-color: red;
    width: 20%;
}

.about-split {
    width: 50%;
    float: left;
}

/*  form section */

form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}


textarea {
    vertical-align: top;
}

/* footer */

#social-networks {
    text-align: center;
}

#social-networks > li {
    display: inline;
}

#social-networks li + li {
    margin-left: 10%;
}